$colorBrown:#954527;
$colorGreen:#0ACF83;
$colorOrange:#E06609;
$colorMiddleGray:#4e5646;
$colorDarkGray:#152F2B;
$colorLightBrown:#F1E3CB;
$colorMiddleBrown:#CFB185;
$fontNotoSerif: 'Noto Sans TC', serif;
$fontAlatsi:'Alatsi', sans-serif;
$fontDmMono:'DM Mono', monospace;
$fontInter:'Inter', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$colorLightGray:#BABABA;
$colorYellow:#FFF09D;