body,html { 
	font-family: $fontNotoSerif;
    -webkit-tap-highlight-color: transparent;    
    font-size: 13px;
    line-height: 1.6;
    font-weight: 400;   
	-webkit-text-size-adjust: none;
	color: #686868;
    background-color: $colorLightBrown;
}
a{transition: 0.5s ease; text-decoration:none; }
button{transition: 0.5s ease;}
textarea, select, input, button { outline: none; }
:focus {
    outline-color: transparent;
    outline-style: none;
 }
.text {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }
}
h3,p{
    text-align: justify;
    text-justify: inter-word;
}

.clear-fix {
    clear: both;
}

input::placeholder {
    color: $colorLightGray;
    opacity: 1; /* Firefox */
}  
input::-ms-input-placeholder { /* Edge 12-18 */
color: $colorLightGray;
}

textarea::placeholder {
    color: $colorLightGray;
    opacity: 1; /* Firefox */
}  
textarea::-ms-input-placeholder { /* Edge 12-18 */
color: $colorLightGray;
}
