.block-contact{
    margin-top: 170px;
    padding-bottom: 40px;
    .outer-div{
        text-align: center;
        .title{

        }
        .info{
            margin-top: 45px;
            padding-bottom: 25px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: calc(50% - 60px);
                bottom: 0;
                width: 120px;
                height: 2px;
                background-color: #fff;
            }
            p{
                text-align: center;
                color: #fff;
                font-size: 16px;
            }
        }
    }
}


footer{
    position: relative;
    z-index: 2;

    .section-footer{
        .block-outer{
            margin: 0 auto;
            max-width: 1300px; 
            padding: 0 20px;  
        }
       
    }
   
}


.toggle-btn {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 22px;
    height: 30px;
    z-index: 889;
    background: none;
    border: none;
    padding: 0;

    span {
        display: block;
        width: 22px;
        height: 2px;
        background: $colorDarkGray;
        margin: 5px 0;
        transition: 0.5s ease;        
    }

}

.body-mobile-active{
    overflow: hidden;
    #mobile-nav {
        display: block;
    }
    .toggle-btn{
        display: none;
        span{
            &:nth-child(1){
                transform: rotate(45deg);
                margin-bottom: -6px;
            }
            &:nth-child(2){
                transform: rotate(135deg);
            }
            &:last-child{
                display: none;
            }
        }
    }
    .overlay{
        display: block;
        backdrop-filter: blur(6px);
        cursor: pointer;
    }
}




.hide {
    display: none;
}
.body-popup-active{
   overflow: hidden; 
}
.overlay {
    /*z-index: 128;*/
    z-index: 3;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0);
}




.gotop-div {
    position: relative;
    text-align: center;   
    padding:50px 0px 30px 0;
    .gotop {
        background-color: transparent;
    }
    &.gotop-remove-margin-bottom{
        padding-top: 0;
        padding-bottom: 10px;
    }
}


@media all and (max-width: 1200px) {
   
}

@media all and (max-width: 1100px) {
   

}
@media all and (max-width: 992px) {
    
}
@media all and (max-width: 880px) {
    
}
@media all and (max-width: 767px) {
   
}
@media all and (max-width: 720px) {
    
}
@media all and (max-width: 640px) {
    .block-contact {
        margin-top: 100px;
        padding-bottom: 30px;
    }
}

@media all and (max-width: 480px) {
    .block-contact{
        .outer-div{
            .title{
                img{
                    height: 35px;
                }
            }
            .info{
                margin-top: 15px;
                p{
                    font-size: 13px;
                }
            }
        }   
    } 
}