dotlottie-player {
    z-index: 1200;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

dotlottie-player.show {
    opacity: 1;
}