
.body-home{
   
}


.section-home-banner{
    .outer-div{
        max-width: 1440px;
        margin: 0 auto;        
        .owl-home-banner{
            .item{
                .two-cols{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .col01{
                        width: 1080px;
                        margin-left: -1080px;
                        margin-right: -100%;
                        .img{
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            -webkit-border-top-left-radius: 50px;
                            -webkit-border-bottom-left-radius: 50px;
                            -moz-border-radius-topleft: 50px;
                            -moz-border-radius-bottomleft: 50px;
                            border-top-left-radius: 50px;
                            border-bottom-left-radius: 50px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .col02{                        
                        width: calc(100% - 1080px);
                        a{
                            display: block;
                            h1{
                                color: $colorDarkGray;
                                font-family: $fontAlatsi;
                                font-size: 36px;
                                background-image: url(./../images/home_news_arrow.svg);
                                background-position: left bottom;
                                background-repeat: no-repeat;                                
                            }
                            p{
                                color: $colorDarkGray;
                                font-family: $fontDmMono;
                                font-size: 20px; 
                                margin-top: 15px;                               
                            }
                            &:hover{
                                opacity: 0.3;
                            }
                        }
                    }
                }
            }
            .owl-dots{
                position: absolute;
                left: 0;
                bottom: 10px;
                width: 100%;
                text-align: center;
                .owl-dot{
                    margin: 0 3px;
                    span{
                        display: block;
                        width: 8px;
                        height: 8px;
                        background-color: rgba(255,255,255,0.3);
                        border-radius: 100px;
                    }
                    &.active{
                        span{
                            background-color: rgba(255,255,255,1);  
                        }
                    }
                }
            }
        }
    }
}
.section-home-search-news{
    background-image: url(./../images/home_deco.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 80px;
    
    .block-01{
        .outer-div{
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .two-cols{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .col01{
                width: 675px;
                img{
                    max-width: 100%;
                }
            }
            .col02{
                width: calc(100% - 675px);
                .item{    
                    color: $colorMiddleGray;    
                    position: relative; 
                    .action{
                        a{
                            &:hover{
                                opacity: 0.5;
                            }
                        }
                    }               
                    &:nth-child(1){
                        padding-bottom: 50px;
                        margin-bottom: 50px;
                        .action{
                            margin-bottom: 33px;
                            a{
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $colorBrown;
                                color: #fff;
                                border-radius: 10px;
                                font-family:$fontDmMono;
                                font-size: 16px;
                                min-width: 156px;
                                min-height: 56px;
                                position: relative;
                                &:before{
                                    content:url(./../images/home_arrow_click.svg);
                                    position: absolute;
                                    left: -45px;
                                    bottom: -45px;

                                }
                            }
                        }
                        &:after{
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 120px;
                            height: 2px;
                            background-color: $colorDarkGray;
                        }
                    }
                    &:nth-child(2){
                        .action{
                            margin-top: 20px;
                            a{
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $colorOrange;
                                color: #fff;
                                border-radius: 10px;
                                font-family:$fontDmMono;
                                font-size: 16px;
                                min-width: 270px;
                                min-height: 50px;
                            }
                        }
                    }
                    .info{
                        h3{
                            font-size: 32px;
                            font-family:$fontDmMono;
                            font-weight: 500;
                        }
                        p{
                            font-size: 20px;
                            font-family:$fontDmMono;
                        }
                    }
                }
            }
        }
    }
    .block-02{
        margin-top: 180px;
        .outer-div{
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 20px;
        }
        h2{
            color: #fff;
            text-align: center;
            font-size: 36px;
            font-family: $fontDmMono;
            font-weight: 500;
            padding-bottom: 25px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: calc(50% - 60px);
                bottom: 0;
                width: 120px;
                height: 2px;
                background-color: #fff;
            }
        }
        .new-lists{
            width: 510px;
            margin: 0 auto;
            margin-top: 40px;
            .item{
                padding: 10px 0;
                a{
                    color: rgba(255,255,255,0.7);
                    font-size: 24px;                   
                    font-family: $fontDmMono;
                    font-weight: 500;
                    display: block;
                    position: relative;
                    min-height: 63px;
                    padding-top: 12px;
                    span{
                        display: block;
                        position: relative;
                        z-index: 2;
                        margin-left: 40px;                       
                    }
                    &:hover{
                        opacity: 0.5;
                    }
                }
                &:nth-child(even){
                    padding-left: 120px;
                    a{
                        &:before{
                            content: '';
                            background-color: $colorOrange;
                            width: 63px;
                            height: 63px;
                            border-radius: 100px;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
                &:nth-child(odd){
                    a{
                        &:before{
                            content: '';
                            background-color: $colorGreen;
                            width: 63px;
                            height: 63px;
                            border-radius: 100px;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
   
}
@media all and (max-width: 1920px) {
    .section-home-search-news{
        background-size: auto;
    }
}
@media all and (max-width: 1440px) {
    .section-home-banner{
        .outer-div{            
            .owl-home-banner{
                .item{
                    .two-cols{
                        .col01{
                            width: calc(100% - 350px);
                            margin-left: calc(-100% + 350px);
                            margin-right: -100%;
                        }
                        .col02{
                            width: 350px;
                            a{
                                display: block;
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media all and (max-width: 1100px) {
    .section-home-search-news{
        .block-01{
            .two-cols{
                display: block;
                .col01{
                    text-align: center;
                    width: 100%;
                    img{
                        margin: 0 auto;
                    }
                }
                .col02{
                    text-align: center;
                    width: 100%;
                    margin-top: 30px;
                    .links{
                        display: inline-block;
                        margin: 0 auto;
                    }
                    .item{
                        &:nth-child(1){
                            &:after{
                                left: calc(50% - 60px);
                            }
                        }
                        .info{
                            h3{
                                text-align: center;
                                font-size: 28px;
                            }
                            p{
                                text-align: center;
                            }
                            
                        }
                    }
                }
            }
        } 
    } 
}

@media all and (max-width: 992px) {
    .section-home-banner{
        .outer-div{
            .owl-home-banner{
                .item{
                    .two-cols{
                        .col01{
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0;
                            .img{
                                border-radius: 25px;
                                margin: 0 20px;
                            }
                        }
                        .col02{
                            width: 100%;  
                            margin-top: 10px;
                            a{
                                display: flex;
                                flex-wrap: wrap;
                                h1{
                                    font-size: 24px;
                                    width: 225px;
                                    height: 40px;
                                }
                                p{
                                    font-size: 16px;
                                }

                            }                         
                        }
                    } 
                } 
                .owl-dots{
                    position: relative;
                    margin-top: 15px;
                }
            } 
        }   
    } 
    .section-home-search-news{
        margin-top: 30px;
    }    
}

@media all and (max-width: 920px) {
   
}
@media all and (max-width: 880px) {    
   
}

@media all and (max-width: 700px) {
    
}

@media all and (max-width: 640px) {
    .section-home-banner{
        .outer-div{
            .owl-home-banner{
                .item{
                    .two-cols{
                        .col01{
                            .img{
                                border-radius: 15px;
                            }
                        } 
                    } 
                } 
            } 
        } 
    } 
    
    .section-home-search-news{
        background-size: 350vw auto;
        .block-01{
            .two-cols{
                .col01{
                    img{
                        width: 80%;
                    }
                }
                .col02{
                    .item{
                        .info{
                            h3{
                                font-size: 24px;
                            }
                            p{
                                font-size: 16px;
                            }
                        } 
                    } 
                } 
            } 
        } 
        
        .block-02{
            .outer-div{
                text-align: center;
            }
            h2{
                font-size: 28px;
            }
            .new-lists{
                width: auto;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                .item{
                    &:nth-child(odd){
                        a{
                            text-align: left;
                            &:before{
                                width: 48px;
                                height: 48px;
                            }
                        }
                    } 
                    &:nth-child(even){
                        padding-left:50px;
                        a{
                            text-align: left;
                            &:before{
                                width: 48px;
                                height: 48px;
                            }
                        }
                    } 
                    a{
                        font-size: 16px;
                        min-height: auto;
                    }
                } 
            }
        } 
    } 
 
}

@media all and (max-width: 480px) {
 
 
}